:root {
    --c-black: #000000;
    --c-darker: #1c1f26;
    --c-dark: #282c34;
    --c-grey: #3e4451;
    --c-light: #abb2bf;
    --c-white: #ffffff;

    --c-red: #e06c75;
    --c-orange: #d19a66;
    --c-yellow: #e5c07b;
    --c-green: #98c379;
    --c-greener: #56b6c2;
    --c-cyan: #56b6c2;
    --c-blue: #61afef;
    --c-purple: #c678dd;
    --c-pink: #be5046;
    --c-brown: #d19a66; // TODO: find a better color

    --h-height: 6vh;
    --f-height: 12.5vh;
    --m-height: calc(100vh - var(--h-height) - var(--f-height));


}

main {
    // set background color
    background-color: var(--c-dark);

    // set padding
    padding: 1rem;
    
    // set height to fill the rest of the page at least
    min-height: var(--m-height);
    
    // offset by 6vh down
    margin-top: 6vh;
    
    // center content
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}