@import 'variables';

footer {
    // set background color
    background-color: var(--c-darker);

    // set padding
    padding: 1rem;
    padding-bottom: 0;

    // set footer to bottom
    position: flex;
    flex-direction: row;
    bottom: 0;
    width: 100%;
    height: var(--f-height);

    // center content
    // flex in row
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;

    .footer {
        // center footer content
        // wrap text if greater than 25vw
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: small;

        .socials {
            a {
                padding-left: 5px;
                padding-right: 5px;
            }
        }

    }

    // hide class logo-hidden
    .misc-padding {
        width: var(--f-height);
        height: var(--f-height);
    }

    img {
        width: var(--f-height);
        height: var(--f-height);

        position: relative;
        bottom: 0;
        right: 0;

        // if width less than 500px, hide 
        @media only screen and (max-width: 500px) {
            display: none;
        }
    }
}