---
import Header from '../components/header';
import Footer from '../components/footer';
import '../styles/main.scss';
export interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;

// Removed From Head:
//<meta name="generator" content={Astro.generator} />
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta title={ title } content={ description }>
        <meta name="theme-color" content="#282c34"/>
        <link rel="preload" href="/fonts/JetBrainsMono-Regular.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{title}</title>
        </head>
    <body>
	    <Header />
        <main>
        <slot />
        </main>
        <Footer />
    </body>
</html>