---
import Header from '../components/header';
import Footer from '../components/footer';
import '../styles/main.scss';

import '../styles/root.scss';
import '../styles/body.scss';
import '../styles/header.scss';
import '../styles/footer.scss';

export interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;

// Removed From Head:
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Ash Entwisle">
        <meta name="description" content={ description }>
        <meta name="keywords" content="Ash Entwisle, Ash, Entwisle, Ash E, Blog, Projects, Dev, Developer, Software, Software Engineer">
        <meta name="robots" content="index, follow">
        <meta name="theme-color" content="#282c34"/>
        <meta name="generator" content={Astro.generator} />
        <link rel="manifest" href="manifest.json">
        <link rel="preload" href="/fonts/JetBrainsMono-Regular.woff2" as="font" type="font/woff2" crossorigin>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="apple-touch-icon" href="/assets/logo-192.png">
        <link rel="sitemap" href="/sitemap-index.xml">
        <title>{title}</title>
        </head>
    <body>
	    <Header />
        <main>
        <slot />
        </main>
        <Footer />
        <script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/sw.js');
                });
            }
        </script>
    </body>
</html>