:root {
    --c-black: #000000;
    --c-darker: #1c1f26;
    --c-dark: #282c34;
    --c-grey: #3e4451;
    --c-light: #abb2bf;
    --c-white: #ffffff;

    --c-red: #e06c75;
    --c-orange: #d19a66;
    --c-yellow: #e5c07b;
    --c-green: #98c379;
    --c-greener: #56b6c2;
    --c-cyan: #56b6c2;
    --c-blue: #61afef;
    --c-purple: #c678dd;
    --c-pink: #be5046;
    --c-brown: #d19a66; // TODO: find a better color

    --h-height: 75px;
    --h-height-max: 75px;
    --h-height-min: 50px;

    --f-height: 175px; // TODO: make this dynamic
    --f-height-max: 500px;
    --f-height-min: 150px;

    // set default font size
    font-size:16px;    

    
}

// load all fonnts in /ttf/
@font-face {
    font-family: 'JetBrains Mono';
    src: 
        url('./public/fonts/JetBrainsMono-Regular.woff2') format('woff2')
        url('./public/fonts/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'JetBrains Mono', monospace;


    // set default colors
    //background-color: var(--c-darker);
    color: var(--c-white);

    // make links look nice
    a {
        color: var(--c-light);

        &:hover {
            color: var(--c-white);
        }
    }

    // thin down h1
    h1 {
        font-weight: 400;
        font-size: 4rem;
    }

    // thin down h2
    h2 {
        font-weight: 400;
        font-size: 2rem;
    }

    img {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        border: 0;
    }

    // remove margins, borders and padding
    margin: 0;
    padding: 0;
    border: 0;

    * {
        box-sizing: border-box;
    }
}

main {
    // set background color
    background-color: var(--c-dark);

    // set height to fill the rest of the page at least
    // height: var(--m-height);
    min-height: calc(100vh - var(--f-height) - var(--h-height));

    // offset by 6vh down
    margin-top: var(--h-height);

    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    

    // if less than 500px, increase size
    @media only screen and (max-width: 750px) {
        min-height: calc(100vh - 100px - var(--h-height));
    }

}

header {
    // set background color
    background-color: var(--c-darker);
    height: var(--h-height);

    // justify content
    box-sizing: border-box;
    position: fixed;
    width: 100vw;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .nav {
        padding-right: 12.5px;
        a {
            padding-right: 10px;
            padding-left: 10px;
        }
    }

    .title {
        height: var(--h-height);
        width: var(--h-height);

        // hide if less than 500px
        @media only screen and (max-width: 450px) {
            display: none;
        }
    }

    @media only screen and (max-width: 450px) {
        justify-content: center;
    }
    
}

footer {
    // set background color
    background-color: var(--c-darker);

    // set footer to bottom
    position: flex;
    flex-direction: row;
    width: 100%;
    height: var(--f-height);
    bottom: 0;
    overflow: hidden;

    // set min, max and default height

    // make it grid with 3 columns
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

    // alling items in .foorter
    .footer {
        // set padding
        padding: 5px;
        padding-bottom: 0;

        // set text color
        color: var(--c-light);

        // set font size
        font-size: 1rem;

        // set text align
        text-align: center;

        // set line height
        line-height: 1.5rem;


        // set overflow
        overflow: hidden;
        
        img {
            @media only screen and (max-width: 250px) {
                    display: none;
                }
        }
    }

    .logo {
        text-align: right; 
        
        img {
            width: var(--f-height);
            height: var(--f-height);
            
            @media only screen and (max-width: 750px) {
                    display: none;
                }
        }
    }

    .socials {
        display: block;
        white-space: pre-wrap;

        // if less than 500px, hide
        @media only screen and (max-width: 625px) {
            display: none;
            width: 0;
        }
    }

    .motd {
        // if less than 750px, hide
        @media only screen and (max-width: 750px) {
            display: none;
            width: 0;
        }
        width: 100%;
        height: 25%;
    }

    // if less than 500px, turn off grid
    @media only screen and (max-width: 750px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100px;
        width: 100vw;
    }
}