main {
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1rem;
        font-weight: 100;
    }

    .mdheader{
        h1 {
            font-size: 2.5rem;
            font-weight: 400;
            margin-bottom: 0;
        }
        h2 {
            font-size: 1.125rem;
            font-weight: 100;
            padding-left: 50px;
        }

        p {
            font-size: 1rem;
            font-weight: 100;
            //padding-left: 25px;
        }
    }
}